<div class="row">
    <div class="span12">
        <div class="page-header">
            <h1>Tweets</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="span8">
        <div class="tweets">
            <div class="tweet well" data-ng-repeat="tweet in tweets | orderBy : 'timestamp' : true">
                <div class="media">
                    <a class="pull-left" href="#/u/{{ tweet.author.username }}">
                        <img class="media-object" src="http://placehold.it/64x64" />
                    </a>
                    <div class="media-body">
                        <div class="pull-right"><a href="javascript:void(0)" data-ng-click="scrollToTop()"><i class="icon-circle-arrow-up scrollToTop" title="Scroll To Top"></i></a></div>
                        <h4 class="media-heading">{{ tweet.author.username }}</h4>
                        <div>{{ tweet.message }}</div>
                        <div class="pull-right"><abbr class="timeago" title="{{ tweet.timestamp | date : 'fullDate' }} {{ tweet.timestamp | date : 'shortTime' }}">{{ tweet.timestamp | timeAgo }}</abbr></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="span4" data-ng-controller="TweetSendController">
        <div class="well">
            <form data-ng-submit="sendMessage()">
                <textarea class="input-block-level" id="newMessage" name="newMessage" placeholder="Type in your message" rows="5" data-ng-model="newMessage" data-ng-change="messageChanged()" required="required">{{ newMessage }}</textarea>
                <h6 class="pull-right">
                    <span data-ng-pluralize data-count="remainingCharsCount" data-when="{'0': '0 characters',
                        'one': '1 character',
                        'other': '{} characters'}">
                        XX characters
                    </span>
                    remaining
                </h6>
                <button class="btn btn-info" type="submit">Post New Message</button>
            </form>
        </div>
    </div>
</div>