
<div style="height: 500px;">
	<form name="loginForm" data-ng-submit="doLogin()">
		<div class="modal">
			<div class="modal-header">
				<h3>Login</h3>
			</div>
			<div class="modal-body">
				<div class="control-group">
					<label for="username" class="required">Username</label>
					<input id="username" type="text" class="input-block-level" placeholder="Username" data-ng-model="username" required="required"/>
				</div>
				
				<div class="control-group">
					<label for="password" class="required">Password</label>
					<input id="password" type="password" class="input-block-level" placeholder="Password" data-ng-model="password" required="required"/>
				</div>
				
				<div class="control-group">
					<div class="controls">
						<label class="checkbox">
							<input type="checkbox" data-ng-model="rememberMe"> Remember me
						</label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<input type="submit" class="btn btn-primary" value="Sign In"/>
			</div>
		</div>
	</form>
</div>
