
<div class="container">
    <div class="row">
        <div class="span6 offset3 well">
            <legend>Please Sign In</legend>
            <div class="alert alert-error" data-ng-show="isLoginError">
                Incorrect Username or Password!
            </div>
            <form name="loginForm" data-ng-submit="doLogin()">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span>
                    <input type="text" id="username" class="span5" name="username" placeholder="Username" data-ng-model="username" required="required"/>
                </div>
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-key"></i></span>
                    <input type="password" id="password" class="span5" name="password" placeholder="Password" data-ng-model="password" required="required"/>
                </div>
                <label class="checkbox">
                    <input type="checkbox" name="remember" value="1" data-ng-model="rememberMe"> Remember Me
                </label>
                <button type="submit" name="submit" class="btn btn-primary span5">Sign in</button>
            </form>
        </div>
    </div>
</div>
