<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>

    <link href="/components/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/components/html5shiv/js/html5shiv.min.js"></script>
    <script src="/components/respond/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <section id="app">{{{appString}}}</section>
    <script>window.__FLUX__ = {{{fluxString}}};</script>
    <script src="{{webserver}}/dist/client.js"></script>

    <script src="/components/jquery/js/jquery.min.js"></script>
    <script src="/components/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
